@using Pronia.Models;
@model List<Slider>
@{
    ViewData["Title"] = "Slider Page";
    //List<Slider> sliders = Model;
}

<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Sliders</h4>                    
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Title</th>
                                    <th>Offer</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var sliderItem in Model)
                                {
                                    <tr>
                                        <td>
                                            <img src="~/assets/images/website-images/@sliderItem.Image" />
                                            </td>
                                        <td>@sliderItem.Title</td>
                                        <td>@sliderItem.Offer</td>
                                    </tr>

                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
